nav.navbar-custom .navbar-brand,nav.navbar-custom .nav-link {
    color: #453434 !important;
    font-family: "Roboto Serif", serif !important;
}

nav.navbar-custom .navbar-brand,nav.navbar-custom .nav-link :active {
    outline: none;
}
nav {
    margin: 15px;
}
